function Bullet.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 2
pop this 0
push constant 10
pop this 3
push argument 3
pop this 4
push argument 4
pop this 5
push argument 5
pop this 6
push pointer 0
return
function Bullet.move 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
sub
pop this 2
push this 2
push constant 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Bullet.destroy 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 1
add
pop this 1
push this 1
push this 4
call Map.getW 1
push constant 2
sub
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Bullet.destroy 1
pop temp 0
label IF_FALSE3
label IF_FALSE2
push this 0
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 1
add
pop this 2
push this 2
push this 4
call Map.getH 1
push constant 2
sub
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Bullet.destroy 1
pop temp 0
label IF_FALSE5
label IF_FALSE4
push this 0
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push constant 1
sub
pop this 1
push this 1
push constant 1
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Bullet.destroy 1
pop temp 0
label IF_FALSE7
label IF_FALSE6
push constant 0
return
function Bullet.checkCollision 6
push argument 0
pop pointer 0
push this 6
call Tank.getX 1
pop local 4
push this 6
call Tank.getY 1
pop local 5
push this 6
call Tank.getDir 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
push constant 1
sub
pop local 0
push local 5
push constant 1
sub
pop local 1
push local 4
push constant 1
add
pop local 2
push local 5
pop local 3
label IF_FALSE0
push this 6
call Tank.getDir 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
pop local 0
push local 5
push constant 1
sub
pop local 1
push local 4
push constant 1
add
pop local 2
push local 5
push constant 1
add
pop local 3
label IF_FALSE1
push this 6
call Tank.getDir 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push constant 1
sub
pop local 0
push local 5
pop local 1
push local 4
push constant 1
add
pop local 2
push local 5
push constant 1
add
pop local 3
label IF_FALSE2
push this 6
call Tank.getDir 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
push constant 1
sub
pop local 0
push local 5
push constant 1
sub
pop local 1
push local 4
pop local 2
push local 5
push constant 1
add
pop local 3
label IF_FALSE3
push this 1
push local 0
push constant 1
sub
gt
push this 1
push local 2
push constant 1
add
lt
and
push this 2
push local 1
push constant 1
sub
gt
and
push this 2
push local 3
push constant 1
add
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 6
call Tank.decreaseHp 1
pop temp 0
push pointer 0
call Bullet.destroy 1
pop temp 0
label IF_FALSE4
push constant 0
return
function Bullet.render 2
push argument 0
pop pointer 0
push this 4
call Map.getX 1
push this 1
push constant 10
call Math.multiply 2
add
pop local 0
push this 4
call Map.getY 1
push this 2
push constant 10
call Math.multiply 2
add
pop local 1
push local 0
push local 1
push local 0
push this 3
push constant 1
sub
add
push local 1
push this 3
push constant 1
sub
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bullet.destroy 0
push argument 0
pop pointer 0
push this 5
call Tank.setBulletNull 1
pop temp 0
push pointer 0
call Bullet.dispose 1
pop temp 0
push constant 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
